## Default ArrGo discord bot configuration file

## Discord specific settings
[discord]
token = "" ## The discord authentication token

## Log specific settings
[log]
level = "info" ## The log level the bot should report on

## Database settings for the bot data storage
[db]
#user = ""
#pass = ""
#db = ""
#host = ""
#use_tls = true

## Data specific settings like the global encryption key
[data]
#enc_key = "" ## Data encryption key (will be generated when started without this setting)

## Timer settings for background/scheduled tasks
[timer]
#flameheart_spam = "60"     ## Minimum amount of minutes for the random number generation
#traderoutes_update = "12h" ## How often are traderoutes checked if an update is needed
#userstats_update = "30m"   ## How often are the user stats updated in the database
#userstats_update = "30m"   ## How often are the user stats updated in the database
#ratcookie_check = "5m"     ## How often are the user's RAT cookies checked for validity
#dailydeed_update = "12h"   ## How often are the SoT daily deeds are updated

